body{
    margin: 0;
}

header{
    background-image:url(images/billboard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
    
nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: top right;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255,.3)
}

.bottomnav{
    background-color: white;
    margin-top: 380px;
    font-weight: 700;
    color: black;    
}

#bottompara{
    margin-left: 10px;
    padding: 15px;
}

#button{
    background-color: rgb(62, 180, 248);
    color: white;
    font-weight: 700;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
}

#logoimg{
    height: 60px;
}

.item1{
    text-decoration: none;
    color: black;
    float: right;
    padding: 25px;
}

h3{
    text-align: center;
}

.main{
    height: auto;
}

.flexcontainer{
    display: flex;
    border: 2px solid blue;
}

.img1{
    height: 250px;
}

.images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

.container2{
    display: grid;
     grid-template-columns: auto auto auto;
     justify-content: space-around;
     justify-items: center;
}

.clientpara{
    text-align: center;
    margin-bottom: 60px;
}

#clientimg1{
    margin-top: 50px;
    border-radius: 50%;
}

h3{
    font-weight: 900;
    font-size: 30px;
    margin-top: 60px;
    
}
.simages{
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.simgpara{
    text-align: center;
}

.footlist1{
    list-style: none;    
}

.footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: gray;
    color: white;
    justify-content: space-evenly;
    height: 400px;
}

h6{
    font-weight: 800;
    font-size: 20px; 
}


aside{
    background-color: rgba(255, 255, 255,.4);
    width: 100%;
    margin-top: 380px;
    float: left ;
}

#asidepara{
    display: flex;
    font-weight: 800;
    justify-content: space-between;
    padding: 5px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 10px;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
  }

.fa-facebook {
    background: white;
    color:gray ;
    text-align: end;
}

.fa-twitter {
    color: white ;  
}

.fa-linkedin {
    color: white ;    
}

#company{    
    line-height: 40px;
}

#support{
    line-height: 40px;
}

#facebooklogo{
    line-height: 20px;
    font-size: 20px;
    margin-top: 30px;
}

#location{    
    line-height: 20px;
}

#reserved{
    text-align: center;
    background-color: gray;
    color: white;
    padding: 30px;
    margin-top: 0%;
}



















































