.container{
    border: 5px solid black;
    height: 400px;
    background-image:url(images/bannerimg1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .logo{
    text-transform: lowercase;
    font-size: 40px;
    font-weight: 500;
    margin-left: 10px;
    color: rgb(244, 244, 244);
    display: inline;
    border: 2px solid black; */
/* } */
nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* float: top right; */
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    opacity: 0.5;
    
    

}
.item1{
    margin-left: 50px;
    text-decoration: none;
    color: black;

}
h3{
    text-align: center;
}
.main{
    border: 5px solid red;
    height: 400px;
}
/* .footer{ */
    /* border: 5px solid yellow; */
    /* text-align: center; */
    /* background-color: silver; */
    /* font-size: 20px; */
    /* font-weight: 600; */
    
    
/* } */
footer{
    border: 5px solid yellow;
    height: 400px;
    background-color: rgb(66, 64, 64);
    color: white;
}
#tablehead1{
    font-weight: 600;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
    padding-left: 60px;
    text-align: center;
}
.tabledata{
    color: aquamarine;
    text-align: center ;
}
/* #tablehead2{
    font-weight: 600;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
    padding-left: 60px;
} */













































